.loader {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
}

footer {
  font-size: 10px;
  margin-top: 4px;
} 

body {
  margin: 6px;
}

h2 {
  margin-bottom: 4px;
}

#subject-field {
  margin-bottom: 4px;
}